# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\MyStudyFile\Study_C_PLUS_PLUS\C-PLUS-PLUS-Road\Written_Examination\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
