# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MyStudyFile\Study_C_PLUS_PLUS\C-PLUS-PLUS-Road\LeetcodeC++\SomeImportantAlgorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
